body{
    background-image: url("../images/image.png");
    margin: 10px;
}
h1,th{
    text-align: center;
    color: white;
}
#link{
    color: white;
    text-decoration: none;
}
p{
    text-align: center;
    color: white;
}
th,td,tr{
    color: #ffffff;
    font-style: normal;
    size: 15px;
}